body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #d8ecfc;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2a9d8f;
    font-size: 36px;
    text-align: center;
}

h2 {
    color: #264653;
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
}

h3 {
    color: #e76f51;
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

strong {
    color: #007cad;
}

i {
    color: #7fb6b8;
    display: block;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 50%; 
}